

.main {
    border: 1px solid black;
    position: fixed;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
}


.draftjs {
    border: 0px solid red;
    margin: 0.5em;
    overflow-y: scroll;
    padding-right: 2em;
    flex: 1;
    line-height: 200%;
}


.draftjs .header-one, .draftjs .header-two, .draftjs .body, .draftjs figure, .draftjs .code-block {
    padding: 0.5rem;
    margin:0;
    position: relative;
}

.draftjs .body {
    border: 1px solid lightgray;
    border-width: 0px 0px 1px 0px;
}
.draftjs .code-block {
    border: 1px solid darkgoldenrod;
    font-family: 'Inconsolata', 'Menlo', 'Consolas', monospace;
    font-size: 90%;
    padding: 1em;
    background-color: lightgoldenrodyellow;
}

.draftjs .header-one, .draftjs .header-two, .draftjs .header-three {
    font-size: 150%;
    border: 1px solid lightgray;
    border-width: 0px 0px 1px 0px;
}
.draftjs .header-one   {  font-size: 150%;     }
.draftjs .header-two   {  font-size: 100%;     }
.draftjs .header-three {  font-size: 80%;      }
.draftjs .unordered-list-item {
    border: 1px solid greenyellow;
}

.draftjs .header-one:after { content: "header";       }
.draftjs .body:after       { content: "body";         }
.draftjs .header-two:after { content: "sub-header";   }
.draftjs .header-three:after { content: "sub-sub-header";   }
.draftjs .code-block:after { content: "codeblock";    }

.draftjs .ordered-list-item:after { content: "OL LI"; }
.draftjs .unordered-list-item:after { content: "UL LI"; }

.draftjs *:after {
    position: absolute;
    font-size: 60%;
    padding: 3px 0 0 0;
    margin:0;
    top: 0.5rem;
    right: -2rem;
    text-align: right;
    font-family: sans-serif;
    color: #aaa;
    font-variant: normal;
}


.links {
    min-width: 300px;
    flex: 0;
    border: 1px solid green;
}


/* styling for links and images */
.draftjs a {
    border: 1px solid red;
    text-decoration: underline;
    position: relative;
}
.draftjs a::after {
    content: attr(href);
}
.draftjs img {
    max-width: 100%;
}
.draftjs img::after {
    content: attr(src);
}
/* style the embedded URLs */
.draftjs a::after, .draftjs img::after {
    position: absolute;
    top:auto;
    left:0;
    right:auto;
    bottom:-1.3em;
    margin:0;
    padding:0;
    white-space: nowrap;
    line-height: 100%;
}

.posts-list {
    border: 1px solid black;
    border-width: 0 1px 0 0;
    min-width: 15em;
    flex: 0;
}
.posts-list ul {
    padding:0;
    margin:0;
}
.posts-list li {
    border: 1px solid black;
    border-width: 0 0 1px 0;
    padding: 0.25em 0.5em;
}
.posts-list li a {
    font-weight: bold;
    color: red;
    cursor: pointer;
}



.metadata-editor {
    border: 1px solid black;
    border-width: 0 0 0 1px;
    max-width: 15em;
}
.metadata-editor > div {
    padding: 0.25em;
}
.metadata-editor b {
}
