.scrim {
    border: 0px solid red;
    position: fixed;
    top:0;
    bottom:0;
    left: 0;
    right: 0;
    background-color: rgba(255,255,255,0.7);
    z-index: 2;
}

.url-dialog {
    border: 1px solid red;
    width: 50vw;
    height: 50vh;
    left: 25vw;
    top: 15vh;
    position: absolute;
    background-color: white;
}

.hidden {
    visibility: hidden;
}