.scrim {
    border: 0px solid red;
    position: fixed;
    top:0;
    bottom:0;
    left: 0;
    right: 0;
    background-color: rgba(255,255,255,0.7);
    z-index: 2;
}



.dialog {
    border: 1px solid red;
    width: 50vw;
    left: 25vw;
    top: 15vh;
    position: absolute;
    background-color: white;
    padding: 1em;
    font-size: 150%;
}

.dialog h1 {
    margin:0;
    font-size: 120%;
    padding: 1em;
    background-color: lightgrey;
    margin-bottom: 1em;
}
.dialog .hbox {
    margin: 0.5em;
}
.dialog input {
    flex: 2;
}
.dialog b {
    flex: 1;
    text-align: right;
    padding-right: 1em;
}

.dialog button {
    font-size: 100%;
    background-color: lightgrey;
    border: 1px solid gray;
    padding: 0.25em 0.5em;
}

.dialog .spacer {
    flex: 1;
}

.hidden {
    visibility: hidden;
}